*{
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    margin-top: 35px;
}

.main-title {
    margin-top: 150px;
    margin-left: 30px;
}

.unosForm {
    margin-top: 20px;
    margin-left: 30px;
}

label{
    font-size: 15px;
    display: block;
}

hr{
    margin-right: 60%;
}

form{
    text-align: left;
    width: 900px;
    margin: auto;
}

input[type="text"], select, textarea{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}


textarea{
    height: 100px;
}

.dugmeUnos{
    width: 280px;
    height: 50px;
    font-weight:bold;  
    border-radius: 10px;
    background-color: lightblue;
}

.slika_prikaz{
    height: 20%;
    width: 50%;
}

.prikaz_div{
    margin-top: 200px;
    margin-left: 40px;
    padding: 30px;
}